.scrollbar::-webkit-scrollbar-track {
    /* /-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
    background-color: #fff;
}

.scrollbar::-webkit-scrollbar {
    width: 3px;
    background-color: #fff;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #3f51b5;
    border: none;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 33%;
    padding: 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
    margin-left: 30px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.avatar-card {
    display: flex;
    justify-content: center !important;
    align-items: center;
    width: "150px";
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
        display: block;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 600px) {
    .column {
        width: 30%;
        display: block;
        margin-bottom: 20px;
    }
}
